<div class="ui top inverted stackable borderless big menu">
    <h3 class="ui header item">
        <img src="assets/images/logo.png">
        {{!-- <i class="circular colored  red huge envelope icon"></i> --}}
        {{!-- <i class="icons">
            <i class="circular colored red big envelope icon"></i>
            <i class="bottom right corner red large clock icon"></i>
        </i> --}}
        <div class="content">
            R-mail
        </div>
    </h3>
    <a class="item" href="/home">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item" href="/history">
        <i class="history icon"></i>
        History
    </a>
    <a class="item" href="create">
        <i class="plus circle icon"></i>
        Create
    </a>
    {{!-- <a class="item" href="edit">
        <i class="tools icon"></i>
        Edit
    </a> --}}
    <div class="right menu">
        <h3 class="ui header item">
            <img src="{{image}}" class="ui circular image">
            {{name}}
        </h3>
        <a class="ui item" href="/auth/logout">
            <i class="sign out alternate icon"></i>
            Logout
        </a>
    </div>
</div>